TZ=Etc/UTC
EULA=TRUE
VERSION=1.21.5
TYPE=FABRIC
FABRIC_LOADER_VERSION=
FABRIC_INSTALLER_VERSION=
MEMORY=4G
DIFFICULTY=normal
MODE=survival
ONLINE_MODE=TRUE
ENABLE_WHITELIST=TRUE
MAX_PLAYERS=10
MOTD=Fabric Notebook Server via Tailscale
TS_HOSTNAME=minecraft-notebook
TS_AUTHKEY=
