JAVA_VERSION=java21
MEMORY=8G
TZ=Brazil/Sao_Paulo
TYPE=FABRIC
VERSION=1.21.11 # this is the Minecraft version for server (this version for example uses java 21)
SERVER_CONTENT=VANILLA
MOTD=Servidor &a&l%SERVER_CONTENT%&r da rapaziada na versão &b&n%VERSION%&r
DIFFICULTY=normal
MODE=survival
LEVEL=world%date:yyyy-MM-dd%
ENABLE_WHITELIST=FALSE
WHITELIST=
ONLINE_MODE=TRUE
SERVER_PORT=25565
MAX_PLAYERS=8
MODRINTH_PROJECTS=fabric-api,lithium,xaeros-minimap,xaeros-world-map,appleskin,jei,clumps,c2me-fabric,distanthorizons,chunky